* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 5%;
    position: relative;
}

#profile img {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 20%;
    border-radius: 50%;
}

.arroba {
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    color: black;
}

#profile p {
    color: #6b6b6b;
}

#playlist {
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.navegation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    position: relative;
}

.navegation a {
    color: #6b6b6b;
    text-decoration: none;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 100px;
    gap: 100px;
    cursor: pointer;
}

.galeria img {
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*navbar*/
.navbar {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgb(32, 32, 32);
    width: 80px;
    border-left: 10px solid rgb(32, 32, 32, 0%);
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.navbar.active {
    width: 300px;
}

.toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transform: translateY(-5px);
    transition: 1s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transform: translateY(5px);
    transition: 1s;
}

.navbar.active .toggle::before {
    transform: translateY(0px) rotate(-405deg);
}

.navbar.active .toggle::after {
    transform: translateY(0px) rotate(225deg);
}

.navbar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navbar ul li:nth-child(1) {
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

.navbar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navbar ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navbar ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    padding: 3%;
}

.copyright {
    color: #777777;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 8%;
}

.social-media {
    display: flex;
    margin-top: 10px;
    font-size: 25px;
    gap: 10px;
}

.social-media ion-icon {
    padding: 10px;
    transition: .2s;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.social-media ion-icon:hover {
    background: #777777;
    color: white;
}

/*vermais*/
.vermais {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#vermais {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: #ccc;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #777777;
    transition: .2s;
}

#vermais:hover {
    background: #777777;
    color: #ccc;
    transform: scale(1.1);
}

/*segundoconteudo*/
#segundo-conteudo {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 100px;
    gap: 100px;
    cursor: pointer;
}

#segundo-conteudo img {
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

/*modal
#fade,
#mod {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#mod {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 10;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.mod-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

h3 {
    color: black;
}

.mod-body p {
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

#mod.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#mod.hide {
    top: 0;
}

.buttn {
    background: none;
    cursor: pointer;
    border: none;
    color: black;
    transition: .2s;
    font-weight: bold;
    font-size: 40px;
}

.buttn:hover {
    transform: scale(0.90);
}

.contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
*/

.container {
    height: 11vh;
    border-bottom: 1px solid #ccc;
    margin: 10px 10px 10px;
    display: none;
}

.toggleMobile {
    position: absolute;
    left: 45vh;
    top: 10px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleMobile::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transform: translateY(-5px);
    transition: 1s;
}

.toggleMobile::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transform: translateY(5px);
    transition: 1s;
}

.navbarMobile.activeMobile .toggleMobile::before {
    transform: translateY(0px) rotate(-405deg);
}

.navbarMobile.activeMobile .toggleMobile::after {
    transform: translateY(0px) rotate(225deg);
}

.navbarMobile {
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgb(32, 32, 32);
    width: 80px;
    border-left: 10px solid rgb(32, 32, 32, 0%);
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    transform: translateX(-80px);
}

.navbarMobile.activeMobile {
    width: 350px;
}

.navbarMobile ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbarMobile ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navbarMobile ul li:nth-child(1) {
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

.navbarMobile ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(70px);
}

.navbarMobile ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navbarMobile ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navbarMobile ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}

@media (max-width: 768px){
    #profile img{
        width: 45%;
    }
    section {
        display: flex;
        justify-content: center;
    }
    .galeria {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 100px;
    }
    #segundo-conteudo {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 100px;
    }
    .navbar {
        display: none;
    }
    .copyright {
        left: 0;
    }
    .container {
        display: flex;
    }
} 